= form_for [:admin, @content], :as => :content do |f|
  %ol
    %li.text.cf{ :class => (@content.error_class :title )}
      = f.label :title, "Title"
      = f.text_field :title, :maxlength => 32
      - if @content.has_error? :title
        %em.error= @content.error_messages :title
    
    %li.text.cf{ :class => (@content.error_class :url_slug )}
      = f.label :url_slug, "URL"
      = f.text_field :url_slug, :maxlength => 64
      - if @content.has_error? :url_slug
        %em.error= @content.error_messages :url_slug
        
    %li.text.cf{ :class => (@content.error_class :body )}
      = f.label :body, "Content"
      = f.text_area :body, :class => 'large'
      - if @content.has_error? :body
        %em.error= @content.error_messages :body
                
    %li.single-media-selector.cf{ :class => (@content.error_class :masthead_id ), :data => { :type => 'banner', :title => 'Select masthead' }}
      = f.label :masthead_id, "Masthead"
      %select{ :size => 1, :name => "content[masthead_id]" }
        %option{ :value => '' }  Select
        - Media.banner.each do |m|
          %option{ :value => m.id, :selected => (!@content.masthead_id.nil? and m.id == @content.masthead_id) }=  m.title
      - if @content.has_error? :masthead_id
        %em.error= @content.error_messages :masthead_id
  
  .buttons
    %button{ :type => :submit, :class => '-primary' } Save
    %button{ :type => :submit, :name => 'preview', :data => { :remote => true }}
      = fa_icon 'eye'
      Preview