%tr{ :id => "page-#{content.id}" }
  %th{ :scope => 'row' }
    = link_to content.title, edit_admin_page_path(content)
    %br
    %small= "/"+content.url_slug
  %td.act
    = link_to_with_icon '', edit_admin_page_path(content), 'pencil-square-o', :class => '-safe'
    = link_to_with_icon '', admin_page_path(content), 'trash-o', :class => '-warn', :method => :delete, :data => { :confirm => 'Are you sure you wish to delete this? It cannot be undone' }