%tr{ :id => "page-#{content.id}" }
  %th{ :scope => 'row' }
    = link_to content.title, edit_admin_page_path(content)
    %br
    %small= "/"+content.url_slug
  %td.act
    = link_to '<span class="a11y">edit</span>'.html_safe, edit_admin_page_path(content), :class => 'icon -edit'
    = link_to '<span class="a11y">delete</span>'.html_safe, admin_page_path(content), :class => 'icon -trash', :method => :delete, :data => { :confirm => 'Are you sure you wish to delete this? It cannot be undone' }