= form_for @comment, :html => { :novalidate => true, :class => 'c-form u-box o-comment__form -a-edit' } do |f|
  %fieldset.c-form__wrapper
    %ol.c-form__fields
      %li.c-form__field{ :class => (@comment.error_class :name )}
        = f.label :name, "Name", :class => 'c-form__label'
        = f.text_field :name, :maxlength => 32, :size => nil, :required => true, :class => 'c-form__input'
        - if @comment.has_error? :name
          %em.c-form__error= @comment.error_messages :name

      %li.c-form__field{ :class => (@comment.error_class :email )}
        = f.label :email, "Email", :class => 'c-form__label'
        = f.email_field :email, :maxlength => 64, :size => nil, :required => true, :class => 'c-form__input'
        - if @comment.has_error? :email
          %em.c-form__error= @comment.error_messages :email
        - else
          %small.c-form__hint  This will never be shown

      %li.c-form__field{ :class => (@comment.error_class :website )}
        = f.label :website, "Website", :class => 'c-form__label'
        = f.url_field :website, :maxlength => 64, :size => nil, :class => 'c-form__input'
        - if @comment.has_error? :website
          %em.c-form__error= @comment.error_messages :website
        - else
          %small.c-form__hint  Optional

      %li.c-form__field{ :class => (@comment.error_class :comment )}
        = f.label :comment, "Comment", :class => 'c-form__label'
        = f.text_area :comment, :required => true, :class => 'c-form__input'
        - if @comment.has_error? :comment
          %em.error= @comment.error_messages :comment

      %li.c-form__field
        %strong.c-form__label IP
        = @comment.ip

    .c-form__buttons
      %button{ :type => :submit, :class => 'u-btn u-btn--primary' } Submit
      = link_to	'Cancel', comment_path(@comment), :data => { :'comments-action' => :cancel }
