%tr{ :id => "article-#{content.id}" }
  %th{ :scope => 'row' }
    = link_to content.title, edit_admin_article_path(content)
    %br
    %small= '/'+content.full_url
  %td=  content.created_on.strftime('%-e %b, %Y')
  %td.small
    = link_to_with_icon content.num_comments.to_s, admin_article_comments_path(content), 'eye', :class => 'button -small -grey'
  %td.small
    - if content.published
      %span.bool-1{ :title => 'yes' }
        = fa_icon 'check'
    - else
      %span.bool-0{ :title => 'no' }
        = fa_icon 'times'
  %td.act
    = link_to_with_icon '', edit_admin_article_path(content), 'pencil-square-o', :class => '-safe'
    = link_to_with_icon '', admin_article_path(content), 'trash-o', :class => '-warn', :method => :delete, :data => { :remote => true, :confirm => 'Are you sure you wish to delete this? It cannot be undone' }