%h1
  = link_to_unless_current "Archive", articles_path
  = @sub_title

- reset_cycle
%section.archive.cf
  %ol
    - @articles.each do |article|
      %li.item{ :class => cycle('-odd', '-even') }
        = render :partial => 'preview', :locals => { :article => article, :full => false }
  
  %footer
    = will_paginate @content, :inner_window => 2, :outer_window => 0

= render :partial => 'archive'