- if @articles.size == 0
  %p.info There are no drafts to show
- else
  %ol
    - @articles.each do |a|
      %li.cf
        %article
          %header
            %h3= link_to a.title, article_path(a)
          .content
            = a.extract_rendered.html_safe
          %footer
            %ul
              %li=  link_to_with_icon 'Preview', preview_admin_article_path(a), 'eye', :class => 'button -small'
              %li=  link_to_with_icon 'Edit', edit_admin_article_path(a), 'pencil-square-o', :class => 'button -small -blue'
              %li=  link_to_with_icon 'Publish', admin_publish_article_path(a, :home => true), 'thumbs-o-up', :class => 'button -small -green', :method => :post, :data => { :remote => true }
              %li=  link_to_with_icon 'Delete', admin_article_path(a, :home => true), 'trash-o', :method => :delete, :confirm => 'Are you sure you wish to delete this draft—this cannot be undone', :class => 'button -small -red'