%h1 Dashboard

= render :partial => 'admin/common/status'

.grid.-two-col.-left.cf
  .col
    %section#drafts.widget.-dynamic{ :data => { :src => admin_drafts_feed_path }}
      %header
        %span.icons
          %span
            = link_to_with_icon '', new_admin_article_path, 'plus'
        %h2
          = fa_icon 'edit'
          Drafts
      .content
        %p.loading  Loading…
        
    %section#latest-articles.widget.-dynamic{ :data => { :src => admin_articles_feed_path }}
      %header
        %h2
          = fa_icon 'book'
          Latest articles
      .content
        %p.loading  Loading…

  .col
    %section#latest-comments.widget.-dynamic{ :data => { :src => admin_comments_feed_path }}
      %header
        %h2
          = fa_icon 'comments'
          Latest comments
      .content
        %p.loading  Loading…