- if @articles.size == 0
  %p.info You’ve not published any articles…
- else
  %ol
    - @articles.each do |a|
      %li.cf
        %article
          %header
            %h3= link_to a.title, article_path(a)
            %small=  a.published_on.strftime('%-e %b, %Y')
          .content
            = a.extract_rendered.html_safe
          %footer
            %ul
              %li= link_to_with_icon 'View', article_path(a), 'search', :class => 'button -small -blue'
              %li= link_to_with_icon 'Edit', edit_admin_article_path(a), 'pencil-square-o', :class => 'button -small -blue'
              %li= link_to_with_icon 'Unpublish', admin_unpublish_article_path(a, :home => true), 'ban', :data => { :remote => true }, :method => :post, :class => 'button -small -red'