- @current_section ||= controller_name
%nav.chrome.cf{ :role => 'menu' }
  %ul
    %li{ :class => @current_section == 'dashboard' ? 'current' : nil }
      = link_to_with_icon 'Dashboard', admin_root_path, 'tachometer fw' 
      
    %li{ :class => @current_section == 'blog' ? 'current' : nil }
      =  link_to_with_icon 'Blog', admin_articles_path, 'book fw'
      
    %li{ :class => @current_section == 'pages' ? 'current' : nil }
      =  link_to_with_icon  'Pages', admin_pages_path, 'file-o fw'
      
    %li{ :class => @current_section == 'media' ? 'current' : nil }
      =  link_to_with_icon  'Media', admin_media_index_path, 'picture-o fw'
      
    -#%li{ :class => @current_section == 'snippets' ? 'current' : nil }
      =  link_to_with_icon  'Snippets', '#', :class => 'code'