= form_for [ :admin, @content ], :as => :content, :html => { :data => (request.xhr? ? { :remote => true } : nil) } do |f|
  %ol
    %li.text.cf{ :class => (@content.error_class :title )}
      = f.label :title, "Title"
      = f.text_field :title
      - if @content.has_error? :title
        %em.error= @content.error_messages :title
      
    %li.text.cf{ :class => (@content.error_class :media_type )}
      = f.label :media_type, "Type"
      %select{ :size => 1, :name => "content[media_type]", :id => 'content_media_type' }
        %option{ :value => '' }  Select
        - Media::TYPES.each_key do |type|
          %option{ :value => type, :selected => (!@content.media_type.nil? and type == @content.media_type.to_sym) }=  type
      - if @content.has_error? :media_type
        %em.error= @content.error_messages :media_type
        
    %li.text.cf{ :class => (@content.error_class :file )}
      = f.label :file, "File"
      - unless @content.file.blank?
        = image_tag @content.file.url(:thumb)
        %br
      = f.file_field :file
      - if @content.has_error? :file
        %em.error= @content.error_messages :file
        
    %li.text.cf{ :class => (@content.error_class :default_align )}
      = f.label :default_align, "Default alignment"
      %select{ :size => 1, :name => "content[default_align]", :id => 'content_default_align' }
        - %w(center left right).each do |type|
          %option{ :value => type, :selected => (@content.default_align == type) }=  type
      - if @content.has_error? :default_align
        %em.error= @content.error_messages :default_align
    
    %li.fieldset.cf
      %h2 HTML options
      %ol
        %li.text.cf{ :class => (@content.error_class :alt_text )}
          = f.label :alt_text, "Alt. Text"
          = f.text_field :alt_text
          - if @content.has_error? :alt_text
            %em.error= @content.error_messages :alt_text
        
        %li.text.cf{ :class => (@content.error_class :title_text )}
          = f.label :title_text, "Title text"
          = f.text_field :title_text
          - if @content.has_error? :title_text
            %em.error= @content.error_messages :title_text
  
  .buttons
    %button{ :type => :submit, :class => '-primary' } Save