%ul.cf{ :class => "content_select -#{@content_object} media-select-list" }
  - @content.each do |content|
    %li{ :id => "media-#{content.id}" }
      %label.select{ :data => { :"content-id" => content.id }}
        = select_control_for content
        .faux
      = render :partial => "admin/#{@content_object.to_s.downcase}/choose/item", :locals => { :content => content }