%h1=  admin_t(@content_object, :choose)

= render :partial => 'quicksearch'
   
- if @content.empty?
  %p.nothing
    = admin_t(@content_object, :none)
- else
  %ul.cf{ :class => "content_select -#{@content_object}" }
    - @content.each do |content|
      = render :partial => 'choose_item', :locals => { :content => content }
  = will_paginate @content, :inner_window => 2, :outer_window => 0
