%tr{ :id => "category-#{content.id}" }
  %th{ :scope => 'row' }
    = link_to content.title, edit_admin_category_path(content)
    %br
    %small= content.url_slug
  %td.small
    - if content.published
      = fa_icon 'check', :class => 'bool-1', :title => 'yes'
    - else
      = fa_icon 'times', :class => 'bool-0', :title => 'no'
  %td.act
    = link_to_with_icon '', edit_admin_category_path(content), 'pencil-square-o', :class => '-safe'
    = link_to_with_icon '', admin_category_path(content), 'trash-o', :class => '-warn', :method => :delete, :data => { :confirm => 'Are you sure you wish to delete this? It cannot be undone' }