- pull = pull ? 'pull ' : ''
%aside.media.-general{ :id => "media-#{media.id}-holder", :class => "#{pull} -#{align}" }
  .i
    = image_tag media_path(media), :alt => media.alt_text, :title => (media.title_text.empty? ? nil : media.title_text), :data => { :"media-id" => media.id }
  
    - unless caption.nil?
      %p= caption.empty? ? media.title : caption