%aside.o-media.-responsive{ :id => "media-#{media.id}-holder", :class => "-#{align}" }
  %div{ :style => "background-image: url('#{media_path(media)}');", :class => " -#{media.default_align}", :data => { :"media-id" => media.id, :behaviour => "responsive-media" }}
    = image_tag media_path(media), :alt => media.alt_text, :title => (media.title_text.empty? ? nil : media.title_text), :data => { :"media-id" => media.id }

  - unless caption.nil?
    %p= caption.empty? ? media.title : caption
